In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\acer\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\acer\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [12]:
import mysql.connector as connector

In [13]:
connection = connector.connect(user = "little_lemon_admin", password = "kot1martin",  db = "littlelemondb")

In [14]:
mycursor = connection.cursor()
mycursor.execute("Show tables;")
 
myresult = mycursor.fetchall()
 
for x in myresult:
    print(x)

('bookings',)
('customers',)
('deliveries',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)
('staff',)

In [16]:
mycursor = connection.cursor()
mycursor.execute("""
select c.Full_name,c.phone from Orders o 
join Bookings b on o.booking_id=b.booking_id
join Customers c on c.customer_id=b.customer_id
where o.total_cost >= 60;
""")
myresult = mycursor.fetchall()
print(mycursor.column_names)
for x in myresult:
    print(x)

('Full_name', 'phone')
('Peter Jackson', '12345678')
('Lois Simpson', '23456781')
('Ann Dwyer', '56781234')